<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのジャンルは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4,@perfume.question5, @perfume.question6, @perfume.question7, @perfume.question8] %>
  <% when ["1", "1", "1", "1","1", "1", "1", "1"] %>
    <h6></h6>
    <p>疾走感×歌詞×有名×青春</p>
    <p></p>
  <% when ["2", "2", "1", "1","1", "1", "1", "1"] %>
    <h6></h6>
    <p>バラード×歌詞×有名×青春</p>
    <p></p>
  <% when ["1", "1", "2", "2","1", "1", "1", "1"] %>
    <h6></h6>
    <p>疾走感×メロディー×有名×青春</p>
    <p></p>
  <% when ["2", "2", "2", "2","1", "1", "1", "1"] %>
    <h6></h6>
    <p>バラード×メロディー×有名×青春</p>
    <p></p>
  <% when ["1", "1", "1", "1","2", "2", "1", "1"] %>
    <h6></h6>
    <p>疾走感×歌詞×インディーズ×青春</p>
    <p></p>
  <% when ["2", "2", "1", "1","2", "2", "1", "1"] %>
    <h6></h6>
    <p>バラード×歌詞×インディーズ×青春</p>
    <p></p>
  <% when ["1", "1", "2", "2","2", "2", "1", "1"] %>
    <h6></h6>
    <p>疾走感×メロディー×インディーズ×青春</p>
    <p></p>
  <% when ["2", "2", "2", "2","2", "2", "1", "1"] %>
    <h6></h6>
    <p>バラード×メロディー、インディーズ×青春</p>
    <p></p>
  <% when ["1", "1", "1", "1","1", "1", "2", "2"] %>
    <h6></h6>
    <p>疾走感×歌詞×有名×浸り</p>
    <p></p>
  <% when ["2", "2", "1", "1","1", "1", "2", "2"] %>
    <h6></h6>
    <p>バラード×歌詞×有名×浸り</p>
    <p></p>
  <% when ["1", "1", "2", "2","1", "1", "2", "2"] %>
    <h6></h6>
    <p>疾走感×メロディー×有名×浸り</p>
    <p></p>
  <% when ["2", "2", "2", "2","1", "1", "2", "2"] %>
    <h6></h6>
    <p>バラード×メロディー×有名×浸り</p>
    <p></p>
  <% when ["1", "1", "1", "1","2", "2", "2", "2"] %>
    <h6></h6>
    <p>疾走感×歌詞×インディーズ×浸り</p>
    <p></p>
  <% when ["2", "2", "1", "1","2", "2", "2", "2"] %>
    <h6></h6>
    <p>バラード×歌詞×インディーズ×浸り</p>
    <p></p>
  <% when ["1", "1", "2", "2","2", "2", "2", "2"] %>
    <h6></h6>
    <p>疾走感×メロディー×インディーズ×浸り</p>
    <p></p>
  <% when ["2", "2", "2", "2","2", "2", "2", "2"] %>
    <h6></h6>
    <p>バラード×メロディー×インディーズ×浸り</p>
    <p></p>
  <% end %>
</div>

<%= link_to "トップページに戻る", tweets_path %>

